@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    /* Dark theme Color */
    --text-color: #edf3ff;
    --subheading-color: #97a7ca;
    --placeholder-color: #c3cdde;
    --primary-color: #101623;
    --secondary-color: #283045;
    --secondary-hover-color: #333e58;
    --scrollbar-color: #626a7f;

}
body.light-theme{
    /* light theme Color */
    --text-color: #090c13;
    --subheading-color: #7bBcae;
    --placeholder-color: #606982;
    --primary-color: #f3f7ff;
    --secondary-color: #dce6f9;
    --secondary-hover-color: #d2ddf2;
    --scrollbar-color: #a2aac2;
}
body{
    height: 400px;
    background-color: var(--primary-color);
    /* color: var(--text-color); */
    scrollbar-color: var(--scrollbar-color) transparent;
}
.header{
    position: fixed;
}
.container {
    width: 100%;
    max-width: 980px;
    padding: 40px;
    margin: 0 auto;
    padding: 32px 0 60px ;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.heading{
    margin-top: 3vh;
    width: fit-content;
}
.title{
    width: fit-content;
    font-size: 3rem;
    background: linear-gradient(to right, #1d7efd, #8f6fff, rgb(201, 6, 201));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub-title{
    font-size: 2.6rem;
    margin-top: -5px;
    color: var(--placeholder-color);
}
.suggestions{
    display: flex;
    gap: 15px;
    margin-top: 7vh;
    margin-bottom: 4.5vh;
}

body.chats-active .container :where(.heading, .suggestions){
    display: none;
}
body.chats-active .chats-container {
    opacity: 1;
    display: block;
}
.suggestion-item{
    width: 228px;
    /* flex-shrink: 0; */
    /* height: 180px; */
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 18px;
    border-radius: 13px;
    transition: all 0.3s ease;
}
.suggestion-item:hover{
    background-color: var(--secondary-hover-color);
    cursor: pointer;
}
.text{
    color:var(--placeholder-color);
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 25px;
    width: 90%;
    font-weight: 500;
    padding-bottom: 15px;
}
.suggestion-item span{
    background-color: var(--primary-color);
    padding: 10px;
    font-size: 1.8rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.draw{
    color: blue;
}
.light{
    color: green;
}
.explore{
    color: rgb(148, 148, 4);
}
.code{
    color: purple;
}
.suggestion-item span:hover{
    /* background-color: #161e30; */
    scale: 1.05;
}

.container .chats-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 500px;
    width: 920px;
    overflow-y: auto;
    scrollbar-width: none;
    /* margin-left: 4rem; */
    display: none;  
    /* position: absolute; */
}
.message{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
}
.chats-container .message{
    display: flex;
    gap: 11px;
    align-items: center;
}
.bot-message img{
    height: 43px;
    width: 43px;
    flex-shrink: 0;
    padding: 6px;
    border-radius: 50%;
    align-self: flex-start;
    margin-right: -7px;
    background: var(--primary-color);
    border: 1px solid var(--secondary-hover-color);
}
.chats-container .bot-message.loading img{
    animation: rotate 3s linear infinite;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}
.chats-container .message .message-text{
    padding: 3px 16px;
    word-wrap: break-word;
    white-space: pre-line;
}
.bot-message{
    margin: 9px auto;
    color: var(--text-color);
}
.chats-container .user-message{
    flex-direction: column;
    align-items: flex-end;
    color: var(--text-color);
}
.chats-container .user-message .message-text{
    padding: 12px 16px;
    max-width: 75%;
    border-radius: 13px 13px 3px 13px;
    background: var(--secondary-color);
}
.chats-container .user-message .img-attachment {
    display: flex;
    align-self: flex-end;
    width: 40%;
    height: auto;
    margin-top: -7px;
    border-radius: 13px 3px 13px 13px;
}
.chats-container .user-message .file-attachment {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 10px;
    margin-top: -7px;
    border-radius: 13px 3px 13px 13px;
    background: var(--secondary-color);
}
.chats-container .user-message .file-attachment span {
    color: var(--primary-color);
}
.prompt-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 56px;
    margin-left: -1.5rem;
    position: fixed;
    top: 580px;
}
.prompt-wrapper{
    display: flex;
    gap: 15px;
    /* width: 980px; */
    /* padding-top: 350px;
    position: sticky; */
}

.prompt-form{
    width: 800px;
    height: 100%;
    display: flex;
    background-color: var(--secondary-color);
    border-radius: 50px;
    overflow: hidden;
}
.prompt-input{
    width: 100%;
    height: 100%;
    padding-left: 25px;
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    color: var(--text-color);
    font-size: 1rem;
}
.prompt-input::placeholder{
    color: var(--placeholder-color);
    /* font-weight: 600; */
    letter-spacing: 1px;
    font-size: 1rem;
}
.prompt-actions{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.3rem;
}
#add-file-btn{
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
    padding: 0.7rem;
    border-radius: 50%;
    background-color: var(--primary-color);
}
#add-file-btn:hover{
    
    cursor: pointer;
    border: #090c13;
}
#send-prompt-btn{
        background-color: blue;
        border: none;
        color: var(--text-color);
        padding: 0.7rem;
        border-radius: 50%;
        display: none;
        transition: all 0.3s ease;
}
.send-btn:hover{
    background-color: blue;
    cursor: pointer;
}
.prompt-input:valid ~ .prompt-actions #send-prompt-btn{
    display: flex;
}
#theme-toggle-btn,#delete-chats-btn{
    background: var(--secondary-color);
    border: none;
    color: var(--text-color);
    padding: 1rem;
    border-radius: 50%;
}
#delete-chats-btn{
    display: none;
}
body.chats-active #delete-chats-btn{
    display: block;
}
.prompt-wrapper :is(button:hover, .file-icon, #cancel-file-btn){
    background: var(--secondary-color);
}
#theme-toggle-btn:hover,#delete-chats-btn:hover{
    background-color: var(--secondary-hover-color);
    cursor: pointer;
}
.desclaimer-text{
    color: var(--placeholder-color);
    font-size: 0.9rem;  
    font-weight: 600;
    letter-spacing: 1px;
}
.prompt-wrapper .prompt-form :where(.file-upload-wrapper, button, img){
    position: relative;
    height: 45px;
    width: 45px;
}
.prompt-form .file-upload-wrapper :where(button, img){
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    display: none;
}
.prompt-form .file-upload-wrapper #add-file-btn,
.prompt-form .file-upload-wrapper.active.img-attached img,
.prompt-form .file-upload-wrapper.active.file-attached .file-icon,
.prompt-form .file-upload-wrapper.active:hover #cancel-file-btn{
    display: block;
    background: none;
}
.prompt-form .file-upload-wrapper.active #add-file-btn{
    display: none;
}
.prompt-form :is(#cancel-file-btn, #stop-response-btn){
    color: #d62939;
    background-color: var(--secondary-color);
    border: none;
}

.prompt-form .file-icon{
    color: #1d7efd;
}
.prompt-form #stop-response-btn,
body.bot-message .prompt-form .file-upload-wrapper{
    display: none;
}
body.bot-message .prompt-form #stop-response-btn{
    display: block;
}
#cancel-file-btn{
    color: var(--placeholder-color);
    padding: 5px;
}

@media (max-width: 768px) {
    .container{
        /* padding: 20px 0 100px; */
        max-width: 450px;
        /* overflow-wrap: break-word; */
    }
    .login{
        top: 1.5rem;
        right: 1.5rem;
    }
    .heading{
        margin-top: 0.4vh;
        padding-left: 0.5rem;
    }
    .title{
        font-size: 0.2rem;
    }
    .sub-title{
        margin-top: 0.3rem;
        width: 400px;
        height: 40px;
    }
    .heading :is(.title, .sub-title){
        font-size: 2rem;
        line-height: 1.2;
    }
    .suggestions{
        width: 90%;
        position: absolute;
        height: 200px;
        margin-left: 0.7rem;
        margin-top: 8rem;
        /* flex-shrink: 0; */
        overflow-y: scroll;
   }
    .suggestion-item{
        min-width: 228px;
    }
    .chats-container{
        padding-top: 0.5rem;
        width: 400px;
        position: fixed;
        align-self: center;
        padding-bottom: 2rem;
        margin-right: 0;
        height: 550px;
    }
    .bot-message{
        width: 385px;
    }
    .bot-message .message-text{
        margin-left: -0.5rem;
    }
    .user-message{
        margin-right: 17rem;
        max-width: 350px;
        padding-right: 0;
    }
    .prompt-wrapper{
        width: 80%;
    }
    .prompt-container{
        /* position: fixed; */
        top: 640px;
        width: 450px;
        
        gap: 1rem;
        margin-bottom: -1rem;
    }
    .desclaimer-text{
        width: 300px;
        font-size: 0.6rem;
    }
    .prompt-form .file-upload-wrapper.active #cancel-file-btn{
        opacity: 0;
    }
    .prompt-wrapper.hide-controls :where(#theme-toggle-btn, #delete-chats-btn){
        display: none;
    }
}